page-home 
{
    .SwipedTabs-indicatorSegment
    {
        transform-origin: top 0 left 0;
        height: 4px;
	    position: relative;
	    top: -2px;
	    background-color: red !important;
    }
    .SwipedTabs-tabs ion-segment-button
    {
    	border:none !important;
    	color:gray!important;
    	background-color:white!important;
    }
     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color:black !important;
    }
    .SwipedTabs-tabs
    {
    	border-bottom: solid 1px #e6e6e6  !important;
    }
}

.scroll-content{
    overflow-y: hidden;
}

.slide-zoom{
    height:100%;
    overflow-y: auto; 
}
